# -----------------------------
# Виртуальное окружение
# -----------------------------
.venv/
__pycache__/

# -----------------------------
# Данные и модели
# -----------------------------
dataset/
*.pt

# -----------------------------
# Скрипты и папки
# -----------------------------
models/
images/