# -----------------------------
# Виртуальное окружение
# -----------------------------
.venv/
__pycache__/

# -----------------------------
# Python кэш
# -----------------------------
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.dist-info/
*.log

# -----------------------------
# Данные и модели
# -----------------------------
dataset/
